.inputText {
  font-family: "Titillium Web";
  user-select: none;
}

.sendBtn:hover {
  background-color: #6dafa5;
  color: white;
}

// .socialHandle:hover {
//   // background-color: #f6fafe;
//   color: black;
// }
