.inputText {
  font-family: "Titillium Web";
  user-select: none;
}

.sendBtn:hover {
  // background: "#0071AE";
  color: #0071AE;
}

// .socialHandle:hover {
//   // background-color: #f6fafe;
//   color: black;
// }
